@import "../../utils/_mixins";

.eventFilters {
  padding-top: 60px;
  width: 100%;
  //background-color: #dbd2f8;

  &__wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 17px 20px;
    height: 100%;
    @include flex-column-center;
  }

  &__row {
    width: 100%;
    @include flex-center-space-between;
  }

  &__filter {
    width: 80px;
    height: 80px;
    text-align: center;
    border: 1px solid bisque;
    background-color: white;
  }

  &__button {
    background-color: white;
    border: 1px solid gray;
    margin-right: 20px;
  }
}
