@import "../../utils/_mixins";

.participantsTop {
  padding-top: 60px;
  width: 100%;
  background-color: white;

  &__wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 17px 20px;
    height: 100%;
    @include flex-column-center;
  }

  &__row {
    width: 100%;
    @include flex-center-space-between;
  }
}
