@import "_mixins";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --bruno: "Bruno Ace SC", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;

  --tt: "Titillium Web", sans-serif;
  --ch: "Chakra Petch", sans-serif;
  --js: "Josefin Sans", sans-serif;

  --ui-notch-amount: 1rem;
  --ui-notch-hypotenuse: 22.627416px;

  --main-color: #042a94;
  --main-hover-color: #0637c4;
  --middle-gray-color: #9a9ba9;
  --font-color: #d4d4e3;
  --clip-path-1: polygon(0px 0px, 50px 0px, 75px 26px, 105px 26px, 130px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));

  --buttons-background-color: #003459; // #042a94;
  --buttons-border-color: #be2969;

  // 30px border height
  //--clip-path-2: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
  //--clip-path-3: polygon(0px 0px, 150px 0px, 175px 26px, 105px 26px, 130px 0px,
  //  calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));

  --clip-path-2: polygon(0px 15px, 16px 0px, calc(60% - 15px) 0px, 60% 15px, 100% 15px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));

  //--clip-path-3: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
  --clip-path-3: polygon(0px 0px, 150px 0px, 175px 16px, 105px 16px, 130px 0px,
    calc(60% - 15px) 0px, 60% 15px, 100% 15px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));

  --ui-notch-path: polygon(0 0, 100% 0, 100% calc(100% - var(--ui-notch-amount) + 2px), calc(100% - var(--ui-notch-amount) + 2px) 100%, 0 100%);

  --white: #fff;
  --adv-dark: #192027;
  --adv-light: #E4EAED;
  --adv-background: #F9FAFB;

  --adv-grey-dark: #2D3842;
  --adv-grey: #AEBAC0;
  --adv-grey-light: #D9D9D9;

  --adv-green: #16D26C;
  --adv-blue: #29BEE9;
  --adv-purple: #B288E7;
  --adv-red: #DA495B;

  --default-border: #dee2e6;
  --default-background: #e9ecef;

  --oswald: 'Oswald', sans-serif;
  --montserrat: "Montserrat", sans-serif;


  --white-to-dark: brightness(0) saturate(100%) invert(18%) sepia(6%) saturate(2357%) hue-rotate(167deg) brightness(91%) contrast(86%);
  --white-to-grey: brightness(0) saturate(100%) invert(84%) sepia(12%) saturate(217%) hue-rotate(156deg) brightness(88%) contrast(86%);
  --white-to-light: brightness(0) saturate(100%) invert(87%) sepia(13%) saturate(77%) hue-rotate(156deg) brightness(109%) contrast(87%);
  --white-to-blue: brightness(0) saturate(100%) invert(71%) sepia(7%) saturate(7386%) hue-rotate(157deg) brightness(94%) contrast(95%);

  --trans-basic: 0.4s;
  --trans-slow: 0.6s;
  --trans-very-slow: 0.8s;

  --hexagonal-img-size: 7px;
  --hexagonal-button-size: 16px;

  --text-shadow: -0   -5px 0 #F9FAFB,
  0   -5px 0 #F9FAFB,
  -0 5px 0 #F9FAFB,
  0 5px 0 #F9FAFB,
  -5px -0 0 #F9FAFB,
  5px -0 0 #F9FAFB,
  -5px 0 0 #F9FAFB,
  5px 0 0 #F9FAFB,
  -1px -5px 0 #F9FAFB,
  1px -5px 0 #F9FAFB,
  -1px 5px 0 #F9FAFB,
  1px 5px 0 #F9FAFB,
  -5px -1px 0 #F9FAFB,
  5px -1px 0 #F9FAFB,
  -5px 1px 0 #F9FAFB,
  5px 1px 0 #F9FAFB,
  -2px -5px 0 #F9FAFB,
  2px -5px 0 #F9FAFB,
  -2px 5px 0 #F9FAFB,
  2px 5px 0 #F9FAFB,
  -5px -2px 0 #F9FAFB,
  5px -2px 0 #F9FAFB,
  -5px 2px 0 #F9FAFB,
  5px 2px 0 #F9FAFB,
  -3px -5px 0 #F9FAFB,
  3px -5px 0 #F9FAFB,
  -3px 5px 0 #F9FAFB,
  3px 5px 0 #F9FAFB,
  -5px -3px 0 #F9FAFB,
  5px -3px 0 #F9FAFB,
  -5px 3px 0 #F9FAFB,
  5px 3px 0 #F9FAFB,
  -4px -5px 0 #F9FAFB,
  4px -5px 0 #F9FAFB,
  -4px 5px 0 #F9FAFB,
  4px 5px 0 #F9FAFB,
  -5px -4px 0 #F9FAFB,
  5px -4px 0 #F9FAFB,
  -5px 4px 0 #F9FAFB,
  5px 4px 0 #F9FAFB,
  -5px -5px 0 #F9FAFB,
  5px -5px 0 #F9FAFB,
  -5px 5px 0 #F9FAFB,
  5px 5px 0 #F9FAFB,
  -5px -5px 0 #F9FAFB,
  5px -5px 0 #F9FAFB,
  -5px 5px 0 #F9FAFB,
  5px 5px 0 #F9FAFB;

  --gray-lines-background: repeating-linear-gradient(45deg, var(--adv-background), var(--adv-background) 2px, var(--adv-light) 0, var(--adv-light) 4px);
  --blue-lines-background: repeating-linear-gradient(45deg, var(--adv-background), var(--adv-background) 2px, var(--adv-grey-light) 0, var(--adv-grey-light) 4px);
  --gray-lines-reversed-background: repeating-linear-gradient(-45deg, var(--adv-background), var(--adv-background) 2px, var(--adv-light) 0, var(--adv-light) 4px);

  --summaryStatisticsTable-first-item-width: 372px;
  --summaryStatisticsTable-second-item-width: 372px;
  --summaryStatisticsTable-number-items-width: 170px;
  --summaryStatisticsTable-row-padding-left: 12px;
  --summaryStatisticsTable-item-width: 1.62%;
  --summaryStatisticsTable-item-height: 12px;
  --summaryStatisticsFilters-item-margin-right: 15px;

  --level-color-0: #3B4650;
  --level-color-1: rgba(41, 190, 233, 0.40);
  --level-color-2: rgba(41, 190, 233, 0.60);
  --level-color-3: rgba(41, 190, 233, 0.80);
  --level-color-4: #29BEE9;
  --gray: #959494;
  --black: #000;
  --trans-fast: 0.2s;

  --filters-clear-button-width: 209px;
  --floating-button-hover-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(128, 189, 255, .5);

  --placeholder-grey: rgb(117, 117, 117);
  --userCompetency-block-height: 372px;
  --lightBlocksScroll-track-width: 8px;
}
